@import "tailwindcss";
@theme {
  --color-purpleBlue-100: #e0e7feb9;
  --color-purpleBlue-300: #e0e7fe;
  --color-purpleBlue-500: #5046e4;
  --color-purpleBlue-600: #3e38a7;
  --color-bgGray-100: #eeeeef;
  --color-bgGray-200: #e6e9ed;
  --color-bgGray-600: #95989c;
}